{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <meta name="description" content="Sign out of ArtHub, the social media platform for artists. Thank you for being part of our creative community. Connect, showcase, and inspire with ArtHub.">
  <meta name="keywords" content="sign out, artist, social media, creative community, showcase art">
  <meta property="og:title" content="Sign Out of ArtHub">
  <meta property="og:description" content="Thank you for being part of ArtHub. Sign out and return anytime to connect with fellow artists, showcase your work, and be part of a vibrant artistic community.">
  <meta property="og:image" content="{% static 'assets2/style.css' %}">
  <meta property="og:url" content="arthub.com/sign-out">
  <title>Sign Out of ArtHub</title>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="phone-app-demo">
        <video autoplay muted loop playsinline>
          <source src="{% static 'assets2/images/home.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="form-data">
        <form action="" method="POST">{% csrf_token %}
          <div class="logo">
            <img src="{% static 'assets2/images/brand.jpg' %}" alt="logo">
          </div>
          {{form}}
          <button class="form-btn" type="submit">Log in</button>
          <span class="has-separator">Or</span>
          <a class="facebook-login" href="#">
            <i class="fab fa-facebook-square"></i> Log in with Facebook
          </a>
          <a class="password-reset" href="#">Forgot password?</a>
        </form>
        <div class="sign-up">
          Don't have an account? <a href="{% url 'sign-up' %}">Sign up</a>
        </div>
        <div class="get-the-app">
          <span>Get the app.</span>
          <div class="badges">
            <img src="{% static 'assets2/images/app-store.png' %}" alt="app-store badge">
            <img src="{% static 'assets2/images/google-play.png' %}" alt="google-play badge">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
