{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <meta name="description" content="Join ArtHub, the social media platform for artists. Sign up to connect with a global creative community, showcase your artwork, and explore inspiring creations.">
  <meta name="keywords" content="sign up, artist, social media, creative community, showcase art">
  <meta property="og:title" content="Join ArtHub - Sign Up Today">
  <meta property="og:description" content="Sign up on ArtHub and become part of a global creative community. Showcase your artwork, connect with fellow artists, and explore a world of inspiring creations.">
  <meta property="og:image" content="URL to an image representing the sign-up page">
  <meta property="og:url" content="URL of your sign-up page">
  <title>Join ArtHub - Sign Up Today</title>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="phone-app-demo">
        <video autoplay muted loop playsinline>
          <source src="{% static 'assets2/images/home.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="form-data">
        <form action="{% url 'sign-up' %}" method="POST">
          {% csrf_token %}
          <div class="logo">
            <img src="{% static 'assets2/images/brand.jpg' %}" alt="logo">>
          </div>
          <div class="btn btn-primary" >
            <p>Your password should meet the following requirements:</p>
            <ul>
                <li>At least 8 characters long</li>
                <li>Include either uppercase or lowercase letters</li>
                <li>Contain at least one number</li>
            </ul>
        </div>
          <!-- <input type="text" placeholder="Phone number, username, or email"> -->
          <!-- <input type="password" placeholder="Password"> -->
          {{form.username}}
          {{form.email}}
          {{form.password1}}
          {{form.password2}}
          <button class="form-btn" type="submit">Log in</button>


          <!-- <a href="index.html" class="form-btn" type="submit">Log in</a> -->
          <span class="has-separator">Or</span>
          <a class="facebook-login" href="#">
            <i class="fab fa-facebook-square"></i> Log in with Facebook
          </a>
          <a class="password-reset" href="#">Forgot password?</a>
        </form>
        <div class="sign-up">
          Don't have an account? <a href="{% url 'sign-in' %}">Sign In</a>
        </div>
        <div class="get-the-app">
          <span>Get the app.</span>
          <div class="badges">
            <img src="{% static 'assets2/images/app-store.png' %}" alt="app-store badge">
            <img src="{% static 'assets2/images/google-play.png' %}" alt="google-play badge">
          </div>
        </div>
      </div>
    </div>


  </div>

</body>

</html>